<!doctype html>
<html class="">
<!--<![endif]-->
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>SUMOLIGHT | SPACELIGHT</title>

<link href="boilerplate.css" rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet" type="text/css">

<script src="/new/libs/angular/js/angular.min.js"></script>
<script type="text/javascript" src="/new/libs/angular-route/js/angular-route.min.js"></script>
<script type="text/javascript" src="/new/libs/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="/new/libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="spacelight.js"></script>
 <!-- <script type="text/javascript" src="/new/js/app.min.js"></script>
<script src="respond.min.js"></script>
<script src="setquantity.js"></script> -->
<script type="text/javascript">
	function toggle_visibility(id) {
	var e = document.getElementById(id);
	e.style.display = ((e.style.display!='none') ? 'none' : 'block');
	}
</script>

</head>

<body ng-app="SpacelightSettings" >
<center>   

<div class="gridContainer clearfix" ng-controller="IntensityController_bak">
	<div id="div1" class="fluid"><img src="assets/logo.png" alt="logo" />    <!--- SUMO LOGO --->


	<!---<div ng-controller="IntensityController_bak">--->
		<form name="userForm">
		<label>Name:
		<input type="text" name="userName"
             ng-model="user.name"
             ng-model-options="{ getterSetter: true }" />
		</label>
		</form>
		<pre>user.name = <span ng-bind="user.name()"></span></pre>
	
	

	<div  id='spacelight_intensity' >
		<pre>Intensity = {{Info.Intensity}} </pre> <br>
		<pre>ColorTemperature = {{Info.ColorTemperature}} </pre> <br>
		<pre>DMX = {{Info.DMX}} </pre> <br>
		<pre>OnOff = {{Info.OnOff}} </pre>
	</div>


        <!--- Intensity --->
     <form id="number1" class="fluid">
     	<div class="order-option" >INTENSITY<br> 
    		<span id="intensity-field"> 
          <input type="text" id="Intensity" class="text" value="{{intensity.get()}}" min="0" max="100"><img src="assets/percentage.png" alt=""/><br>        <!--- Text field --->
          </span>
		</div>
     </form>  
                

        <form method="post" action="" type="submit" >
            <button id="upfast" class="roundBTN" type="button" ng-click="intensity.set(10)" ><img src="assets/darrowleft.png" alt=""/></button>
        	<button id="up" class="roundBTN" type="button" ng-click="intensity.set(1)" ><img src="assets/arrowleft.png" alt=""/></button>&nbsp;&nbsp;&nbsp;
            <button id="down" class="roundBTN" type="button" ng-click="intensity.set(-1)" ><img src="assets/arrowright.png" alt=""/></button>
            <button id="downfast" class="roundBTN" type="button" ng-click="intensity.set(-10)" ><img src="assets/darrowright.png" alt=""/></button>
        </form>  
        <!---   </div>
		</form>--->
        	
    
        <!--- Color Temperature --->
        <form id="number2" class="fluid">
        	<div class="order-option"  />COLOR TEMPERATURE<br> 
    			<span id="color-temperature-field">
            	<input type="text" id="ColorTemp" class="text" value="{{colortemp.get()}}" min="3000" max="6000"><img src="assets/k.png" alt=""/><br>   
         		</span>
     	</div>   	<!--- Text field --->   
        </form>
              
        
        <form method="post" action="" type="submit" >
            	<button id="upfast" class="roundBTN" type="button"  ng-click="colortemp.set(200)"><img src="assets/darrowleft.png" alt=""/></button>
        		<button id="up" class="roundBTN" type="button"  ng-click="colortemp.set(20)"><img src="assets/arrowleft.png" alt=""/></button>&nbsp;&nbsp;&nbsp;
            	<button id="down" class="roundBTN" type="button"  ng-click="colortemp.set(-20)"><img src="assets/arrowright.png" alt=""/></button>
            	<button id="downfast" class="roundBTN" type="button" ng-click="colortemp.set(-200)"><img src="assets/darrowright.png" alt=""/></button>
        </form>
        <!---	</div>
		</form>--->
       
        
        <!--- DMX Address --->
        <form id="number3" class="fluid">
       	<div class="order-option"  />DMX ADDRESS<br> 
    		   <span id="dmx-address-field">
        		<input type="text" id="dmx" class="text" value="{{dmx.get()}}" min="1" max="512"><br>              <!--- Text field --->
             </span>
          </div>
        </form>
              
              
         <form method="post" action="" type="submit" >	
             <button id="up" class="roundBTN" type="button" ng-click="dmx.set(1)"><img src="assets/arrowleft.png" alt=""/></button>&nbsp;&nbsp;&nbsp;
             <button id="down" class="roundBTN" type="button"  ng-click="dmx.set(-1)"><img src="assets/arrowright.png" alt=""/></button>    
        </form>
           <!---	</div> 
		</form>--->
        
        
    <br><br>                                    <!--- OnOff / Advanced / Info  --->
      <!---  %onoffstate% --->
       <div class ="order-option">
       	<form method="post" action="" type="submit"  >
         	<button id="onoff" class="roundBTN" type="button" name="onoff" value="1"><img src="assets/on-off.png" alt=""/></button> &nbsp;&nbsp;&nbsp;
          <button id="adv" class="roundBTN" onclick="toggle_visibility('adv_content')" type="button" name="onoff" value="2" ><img src="assets/advanced.png" alt=""/></button> &nbsp;&nbsp;&nbsp;
          <button id="info" class="roundBTN" onclick="toggle_visibility('info_content')" type="button" name="onoff" value="3" ><img src="assets/info.png" alt=""/></button>
       	</form> 
       </div>
            </center>
        <!----ADVANCED CONTENT---->
            
            <div id="adv_content" style="display:none;">
                <p>ADVANCED:</p><br>
                    comming soon..
				<input type="hidden" name="step" value="2" />
				<input type="file" size="30" name="image" />
            </div>
            
            <!---INFO CONTENT--->
            
            <div id="info_content" style="display:none;">
                <p>INFO:</p><br>
                SSID: SUMOSPACE1 <br>
                Password: none  <br>
                Channel: 1      <br>
                Authentification: none <br>
                SSID hidden:    no      <br>
                Max. connections:   4   <br>
            </div>

    <div id='footer'>
      OLA &copy; 2005-2015 Open Lighting Project<br>
      <a href="mobile.html">Mobile Version</a> - <a href="new/">New UI (Beta)</a>
    </div>
	</div>
</div>
</body>
</html>
        	
